@tailwind base;
@tailwind components;
@tailwind utilities;

/* index.css */
body {
  @apply bg-[#0e1012] text-white;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #333 transparent;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}
